<!DOCTYPE html>
<html>
<head>
    <title>Panel Administracyjny</title>
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="/Admin/Index">Strona główna</a></li>
            <li><a href="/Admin/Users">Zarządzaj Partnerami Handlowymi</a></li>
            <li><a href="/Admin/Products">Zarządzaj Wzorami Ogrodzeń</a></li>
            <li><a href="/Admin/Stats">Zobacz statystyki zapytań</a></li>
        </ul>
    </div>

   
</body>
</html>
