<!DOCTYPE html>
<html>
<head>
    <title>Panel Administracyjny</title>
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="/Admin/Index">Strona główna</a></li>
            <li><a href="/Admin/Users">Zarządzaj użytkownikami</a></li>
            <li><a href="/Admin/Products">Zarządzaj produktami</a></li>
        </ul>
    </div>

   
</body>
</html>
