<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Konfigurator_ogrodzeń</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Konfigurator_ogrodzeń.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <a href="#" class="active">Strona Główna</a>
            <a href="#">Konfigurator</a>
            <a href="#">Pomoc</a>
            <a href="#">Kontakt</a>
        </nav><br>

        <h1 class="container">Konfigurator ogrodzeń</h1>

        <img src="~/dom1.jpg" alt="Przykładowy ogródek"/>

        <div class="options">
            <label for="kolor">Kolor:</label>
            <select id="kolor">
                <option value="czarny">RAL 9005</option>
                <option value="szary">RAL 7035</option>
                <option value="biały">RAL 9003</option>
                <option value="brazowy">RAL 8019</option>
                <option value="dystrybutor1">Własny</option>
            </select>
            <br>
            <label for="rodzaj">Rodzaj ogrodzenia:</label>
            <select id="rodzaj">
                <option value="kraty">Kraty</option>
                <option value="siatka">Siatka</option>
                <option value="panele">Panele</option>
                <option value="profil1">Profil 30x30</option>
                <option value="profil2">Profil 40x30</option>
                <option value="profil3">Profil 10x30</option>
                <option value="dystrybutor2">Własny</option>
            </select>
            <br>
            <label for="material">Materiał:</label>
            <select id="material">
                <option value="stal">Stal ocynkowana</option>
                <option value="stal">Stal czarna</option>
                <option value="aluminium">Aluminium</option>
                <option value="drewno">Drewno</option>
                <option value="dystrybutor3">Własny</option>
            </select><br><br>
           

                <button type="submit">Wycena konfiguracji</button>
        </div>

        <input type="file" accept="image/*" onchange="handleImageUpload(event)">

        <canvas id="canvas"></canvas>

        <h2>Kontakt</h2>
        <form>
            <label for="email">Twój adres e-mail:</label>
            <input type="email" id="email" name="email"><br>

            <label for="pytanie">Twoje pytanie:</label>
            <textarea id="pytanie" name="pytanie"></textarea><br>

            <button type="submit">Wyślij</button>
        </form>

        <hr>
        <div class="text-success">
        </div>
        <div class="footer">

            2023 &copy; Wszelkie prawa zastrzeżone.

        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Konfigurator_ogrodzeń - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
