<!DOCTYPE html>
<html>
<head>
    <title>Panel Administracyjny</title>
</head>
<body>
    <div class="sidebar">
        <header>
        <nav>
            <a href="@Url.Action("StronaStats", "Stats")">Zapytania</a> <!-- Aga - przekierowanie na stronę Stastystyki -->
            <a href="@Url.Action("StronaWzory", "Wzory")">Wzory</a> <!-- Aga - przekierowanie na stronę Wzory -->
            <a href="@Url.Action("StronaPartnerzy", "Partnerzy")">Partnerzy</a> <!-- Aga - przekierowanie na stronę Partnerzy -->
        </nav><br />
        <h1> Partenerzy </h1>
        </header>
       
    </div>

   
</body>
</html>
