<!DOCTYPE html>
<html>

<head>
    <title>Kontakt - Konfigurator ogrodzeń</title>
    <link rel="stylesheet" type="text/css" href="~/css/kontakt.css">

</head>

<body>
    <header>
        <h1>Kontakt z obsługą klienta</h1>
    </header>

    <section class="contact-section">
        <h2>Dane kontaktowe</h2>
        <div class="contact-info">
            <h3>Adres:</h3>
            <p>Fikcyjna ulica 123, 00-000 Miasto</p>
        </div>

        <div class="contact-info">
            <h3>Numer telefonu:</h3>
            <p>+48 123 456 789</p>
        </div>

        <div class="contact-info">
            <h3>Adres e-mail:</h3>
            <p>kontakt@przykladowafirmaogrodzenia.pl</p>
        </div>

        <div class="contact-info">
            <h3>Godziny pracy:</h3>
            <p>Poniedziałek - Piątek: 9:00 - 17:00</p>
        </div>
    </section>
    <style>
        /* style.css */
        
        body {
            font-family: Arial, sans-serif;
            margin: 110;
            padding: 0;
        }
        
        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
        }
        
        header h1 {
            margin: 0;
        }
        
        .contact-info {
            background-color: peachpuff;
            border-radius: 10px;
        }
    </style>
</body>

</html>