<!DOCTYPE html>
<html>
<head>
    <title>Kontakt</title>
    <link rel="stylesheet" type="text/css" href="~/css/kontakt.css">
</head>
<body>
    <nav>
        <a href=@Url.Action("StronaHome", "Home")>Strona Główna</a>
        <a href=@Url.Action("StronaPomoc", "Pomoc")>Pomoc</a>
        <a href=@Url.Action("StronaKontakt", "Kontakt")>Kontakt</a>
    </nav>
    <br>
    <header>
        <a href="https://plast-met.pl/" target="_blank">
            <img src="~/Logo-Plastmet.png" /></a>
    </header>
 

    <section class="contact-section">
        <h2>Dane kontaktowe</h2>
        <div class="contact-info">
            <h3>Adres:</h3>
            <p>55-100 Trzebnica, ul. Milicka 34</p>
        </div>

        <div class="contact-info">
            <h3>Numer telefonu:</h3>
            <p>+48 (71) 312 07 93<br />+48 (71) 387 08 30</p>
        </div>

        <div class="contact-info">
            <h3>Adres e-mail:</h3>
            <p>biuro@plast-met.pl</p>
        </div>

        <div class="contact-info">
            <h3>Godziny pracy:</h3>
            <p>Poniedziałek - Piątek: 7:00 - 15:00</p>
        </div>
    </section>
    <h2>Kontakt</h2>
    <form>
        <label for="email">Twój adres e-mail:</label>
        <input type="email" id="email" name="email"><br>

        <label for="pytanie">Twoje pytanie:</label>
        <textarea id="pytanie" name="pytanie"></textarea><br>

        <button type="submit">Wyślij</button>
    </form>

</body>
</html>
