@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"/>
    <header>
        <nav>
        <a href=@Url.Action("StronaPomoc", "Pomoc")>Pomoc</a> <!-- Aga - przekierowanie na stronę Pomoc -->
        <a href=@Url.Action("StronaKontakt", "Kontakt")>Kontakt</a> <!-- Aga - przekierowanie na stronę Kontakt -->
        <a href=@Url.Action("Login", "Login")>Zaloguj</a> <!-- Aga - przekierowanie na stronę Login -->
        </nav><br>
        <h1 class="display-4">Zaprojektuj swoje ogrodzenie razem z nami!</h1>
    </header>
    <center>
        <div class="image-container">
            <img src="~/dom1.jpg" alt="Przykładowy ogródek" class="img-thumbnail" /><br /><br />
            <h1 class="image-text">Konfigurator ogrodzeń</h1><br /><br />
        </div>
    </center>
    <p>Wybierz wzór gotowego domu:</p>

    <select id="gotowy-dom" onchange="showSelectedImage()">
        <option>Wybierz</option>"
        <option value="../WidokDomu2.jpg">Wzór 1</option>
        <option value="../WidokDomu3.jpg">Wzór 2</option>
        <option value="../WidokDomu4.jpg">Wzór 3</option>
    </select>
    <div id="selected-image-container"></div><br /><br /><br />

    <div class="options">
        <label for="typ">Typ ogrodzenia:</label>
        <select id="typ" onchange="showAdditionalOptions()">
            <option value="brak">-</option>
            <option value="pionowe">Pionowe</option>
            <option value="poziome">Poziome</option>
        </select>

        <div id="additional-options-pionowe" style="display: none;">
            <label for="pionowe-options">Dodatkowe opcje dla pionowych:</label>
            <select id="pionowe-options" onchange="showGrotOptions()">
                <option value="">Wybierz</option>
                <option value="Agat">Agat</option>
                <option value="Opal">Opal</option>
                <option value="Kwarc">Kwarc</option>
            </select>
        </div>

        <div id="additional-options-poziome" style="display: none;">
            <label for="poziome-options">Dodatkowe opcje dla poziomych:</label>
            <select id="poziome-options">
                <option value="Trawertyn">Trawertyn</option>
                <option value="Beryl">Beryl</option>
                <option value="Malachit">Malachit 100/P-20</option>
            </select>
        </div>

        <div id="grot-options" style="display: none;">
            <label for="groty">Groty:</label>
            <select id="groty">
                <option value="P1">P1</option>
                <option value="P0">P0</option>
                <option value="P5">P5</option>
            </select>
        </div>

        <script>
            function showAdditionalOptions() {
                var typSelect = document.getElementById("typ");
                var additionalOptionsContainerPionowe = document.getElementById("additional-options-pionowe");
                var additionalOptionsContainerPoziome = document.getElementById("additional-options-poziome");
                var grotOptionsContainer = document.getElementById("grot-options");

                if (typSelect.value === "pionowe") {
                    document.getElementById("pionowe-options").selectedIndex = 0;
                    additionalOptionsContainerPionowe.style.display = "block";
                    additionalOptionsContainerPoziome.style.display = "none";
                    showGrotOptions();
                } else if (typSelect.value === "poziome") {
                    document.getElementById("poziome-options").selectedIndex = 0;
                    additionalOptionsContainerPionowe.style.display = "none";
                    additionalOptionsContainerPoziome.style.display = "block";
                    grotOptionsContainer.style.display = "none";
                } else {
                    additionalOptionsContainerPionowe.style.display = "none";
                    additionalOptionsContainerPoziome.style.display = "none";
                    grotOptionsContainer.style.display = "none";
                }
            }

            function showGrotOptions() {
                var pionoweOptionsSelect = document.getElementById("pionowe-options");
                var grotOptionsContainer = document.getElementById("grot-options");

                if (pionoweOptionsSelect.value === "Agat") {
                    grotOptionsContainer.style.display = "block";
                } else {
                    grotOptionsContainer.style.display = "none";
                }
            }
        </script>

        <label for="kolor">Kolor:</label>
        <select id="kolor">
            <option value="brak">-</option>
            <option value="Czarny 9005 Mat">RAL 9005 Mat</option>
            <option value="Antracyt">Antracyt DB</option>
            <option value="Zielony 6005 Mat">RAL 6005 Mat</option>
        </select><br />
    </div>
    <br />

    <ul class="flex-container">
        <li class="flex-item" id="wycena" type="submit">
        <button onclick="redirectToFormularz()">Wyceń ogrodzenie</button>
        </li>
    <li class="flex-item" id="zapisz" type="submit">
        <button>Zapisz konfiguracje</button>
        </li>
        <li class="flex-item" id="zobacz" type="submit">
            <button onclick="redirectToSpecification()">Zobacz specyfikację wzoru</button>
        </li>

    </ul>

    <hr>
    <div class="text-success"></div>
    <div class="footer">
        2023 &copy; Wszelkie prawa zastrzeżone.
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        function showSelectedImage() {
            var selectElement = document.getElementById("gotowy-dom");
            var selectedValue = selectElement.value;
            var selectedImageContainer = document.querySelector(".image-container img");

            selectedImageContainer.src = "~/" + selectedValue;
            selectedImageContainer.alt = "Wybrany dom";
            window.onload = function () {
                showSelectedImage();
            };
        }

        /* Aga - funkcja do przycisku Wyceń */
        function redirectToFormularz() {
        var typSelect = document.getElementById("typ");
        var pionoweOptionsSelect = document.getElementById("pionowe-options");
        var poziomeOptionsSelect = document.getElementById("poziome-options");
        var kolorSelect = document.getElementById("kolor");

        if (typSelect.value !== "brak" && kolorSelect.value !== "brak") {
            if ((typSelect.value === "pionowe" && pionoweOptionsSelect.value !== "") ||
                (typSelect.value === "poziome" && poziomeOptionsSelect.value !== "")) {

                var selectedOption = pionoweOptionsSelect.value || poziomeOptionsSelect.value;
                var url = '@Url.Action("FormularzKontaktowy", "Formularz")' + '?kolor=' + kolorSelect.value;

                if (typSelect.value === "pionowe") {
                    url += '&opcjePionowe=' + pionoweOptionsSelect.value;
                } else if (typSelect.value === "poziome") {
                    url += '&opcjePoziome=' + poziomeOptionsSelect.value;
                }

                window.open(url, "_blank");
            } else {
                alert("Proszę wybrać opcję dla pionowych lub poziomych ogrodzeń.");
            }
        } else {
            alert("Proszę wybrać typ ogrodzenia oraz kolor.");
        }
    }

        /* Aga - dodanie funkcji do przycisku Specyfikacja */
        function redirectToSpecification() {
            var pionoweOptionsSelect = document.getElementById("pionowe-options");
            var poziomeOptionsSelect = document.getElementById("poziome-options");
            var selectedOption = "";

            if (pionoweOptionsSelect.style.display !== "none") {
                selectedOption = document.getElementById("pionowe-options").value;
            } else if (poziomeOptionsSelect.style.display !== "none") {
                selectedOption = document.getElementById("poziome-options").value;
            }

            if (selectedOption === "") {
                alert("Proszę wybrać wzór przed wyświetleniem specyfikacji.");
            return;
            }

        switch (selectedOption) {
            case "Agat":
                window.open("/Specyfikacja/SpecyfikacjaAgat", "_blank");
                break;
            case "Opal":
                window.open("/Specyfikacja/SpecyfikacjaOpal", "_blank");
                break;
            case "Kwarc":
                window.open("/Specyfikacja/SpecyfikacjaKwarc", "_blank");
                break;
            case "Trawertyn":
                window.open("/Specyfikacja/SpecyfikacjaTrawertyn", "_blank");
                break;
            case "Beryl":
                window.open("/Specyfikacja/SpecyfikacjaBeryl", "_blank");
                break;
            case "Malachit":
                window.open("/Specyfikacja/SpecyfikacjaMalachit", "_blank");
                break;
            default:
                break;
        }
    }

    </script>
