/* Resetowanie stylów domyœlnych */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ogólne style strony */
body {
    font-family: Arial, sans-serif;
}

.text-center {
    text-align: center;
}

nav {
    background-color: forestgreen;
    border-radius: 10px;
}

    nav a {
        display: inline-block;
        padding: 10px;
        text-decoration: none;
        color: #333;
    }

        nav a.active {
            font-weight: bold;
        }

.image-container {
    position: relative;
}

    .image-container img {
        max-width: 100%;
        height: auto;
    }

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.options {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

    .options label {
        display: block;
        margin-bottom: 5px;
    }

    .options select {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
    }

.flex-container {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color:forestgreen;
}

.flex-item {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: forestgreen;
}

footer {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
}

/* Responsywnoœæ */
@media screen and (max-width: 768px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .flex-item {
        margin: 10px 0;
    }
}
