html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  display:block;
}

body {
    background-color: #ffd80043;
    color: #424242;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0 !important;
    max-width: 100%;
}
.flex-container {
    opacity: 0.9;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.flex-item {
    background: forestgreen;
    border-radius: 35px;
    opacity: 0.8;
    padding: 1px;
    width: 250px;
    height: 150px;
    line-height: 150px;
    color: black;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    border: 5px solid black ;
}

.container1 {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
}

.options {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    padding: 50px;
    
}

.title {
    text-align: center;
    font-weight: 300;
    font-size: 50px;
    color: black;
    padding-top: 40px;
    text-transform: uppercase;
}

nav {
    background-color: #4b9e5a;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 7px 7px 5px #888888;
    text-shadow: 5px 5px 5px #888888;
}



    /* styl dla linków nawigacyjnych */

nav a {
        color: #fff;
        text-decoration: none;
        padding: 0.5rem;
}


        /* styl dla aktywnego linku nawigacyjnego */

nav a.active {
            background-color: #fff;
            color: #000000;
            border-radius: 0.25rem;
}

h1 {
    text-align: center;
    padding: 2rem;
    border-radius: 35px;
    background-color: forestgreen;
    opacity: 0.8;
    box-shadow: 7px 7px 5px #888888;
    text-shadow: 5px 5px 5px #888888;
}

.footer {
    text-align: center;
    padding: 30px;
}