<!DOCTYPE html>
<html>
<head>
    <title>Pomoc</title>
    <link rel="stylesheet" type="text/css" href="../wwwroot/css/pomoc.css">
</head>
<body>
    <nav>
        <a href="#" class="active">Strona Główna</a>
        <a href="#">Konfigurator</a>
        <a href=@Url.Action("StronaPomoc", "Pomoc")>Pomoc</a>
        <a href=@Url.Action("StronaKontakt", "Kontakt")>Kontakt</a>
    </nav>
    <br>
    <header>
        <h1>Witamy na stronie pomocy konfiguratora ogrodzeń dla domków jednorodzinnych</h1>
    </header>

    <section class="faq-section">
        <h2>Najczęstsze pytania</h2>
        <div class="faq">
            <h3>1. Jak korzystać z konfiguratora ogrodzeń?</h3>
            <p>Nasz konfigurator ogrodzeń jest intuicyjny i łatwy w obsłudze.
               Wystarczy przejść przez kroki krok po kroku, wybierając preferowane opcje, 
               takie jak rodzaj ogrodzenia, wysokość, materiał, kolor itp. 
               Jeśli masz jakiekolwiek pytania dotyczące poszczególnych kroków, 
               zapraszamy do zapoznania się z naszym przewodnikiem, 
               który znajduje się na stronie głównej.</p>
        </div>

        <div class="faq">
            <h3>2. Jakie są dostępne rodzaje ogrodzeń?</h3>
            <p>Oferujemy szeroki wybór różnych rodzajów ogrodzeń, które można dostosować do swoich potrzeb. Możesz wybierać spośród ogrodzeń drewnianych, metalowych, betonowych, siatkowych, panelowych itp. Każdy rodzaj ogrodzenia ma swoje unikalne cechy, a nasz konfigurator pomoże Ci znaleźć ten odpowiedni dla Ciebie.</p>
        </div>

        <div class="faq">
            <h3>3. Jakie informacje są potrzebne do skorzystania z konfiguratora?</h3>
            <p>Podczas korzystania z konfiguratora będziesz musiał podać kilka informacji, abyśmy mogli dostarczyć Ci jak najbardziej precyzyjne wyniki. Wymagane dane mogą obejmować wymiary działki, preferowaną wysokość ogrodzenia, materiał, kolor, styl itp. Im więcej szczegółów podasz, tym dokładniejsze będą rezultaty.</p>
        </div>

        <div class="faq">
            <h3>4. Czy mogę zobaczyć, jak będzie wyglądać moje ogrodzenie przed zamówieniem?</h3>
            <p>Oczywiście! Nasz konfigurator jest wyposażony w funkcję wizualizacji, która pozwoli Ci zobaczyć, jak będzie wyglądać Twoje ogrodzenie na podstawie wybranych opcji. Po zakończeniu konfiguracji, będziesz mógł obejrzeć 3D rendering ogrodzenia, a także zobaczyć, jak będzie prezentować się w rzeczywistości na podstawie zdjęć naszych zrealizowanych projektów.</p>
        </div>

        <div class="faq">
            <h3>5. Jak mogę złożyć zamówienie na wybrane ogrodzenie?</h3>
            <p>Po zakończeniu konfiguracji możesz zapisać swój projekt i skontaktować się z naszym zespołem obsługi klienta. Udostępnimy Ci wszystkie niezbędne informacje dotyczące zamówienia, w tym kosztorys, dostępność, czas realizacji itp. Będzi</p>
        </div>
    </section>
</body>
</html>
