<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Specyfikacja Agat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <style>

        body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            margin: 0;
            background-color: peachpuff;
            font-family: 'Arial', sans-serif; 
        }

        h1 {
            text-align: center;
            text-shadow: 8px 5px 9px rgba(0, 0, 0, 0.5);
            font-size: 100px;
        }

        .image-container {
            display: flex;
            flex-direction: column; 
            max-width: 100%;
            overflow-x: auto; /* Dopuszczalne przewijanie poziome */
            margin-top: 20px;
        }

            .image-container img {
                max-width: 100%;
                height: auto;
                border-radius: 20px;
                box-shadow: 8px 5px 9px rgba(0, 0, 0, 0.5);
                margin: 30px;
            }
        p {
            font-size: 2em; /* wielkość tekstu proporcjonalnie do obrazków */
            text-align: justify;
        }

        ul {
            margin-left: 20px;
            font-size: 2em;
        }

    </style>
</head>

<body>
    <nav>
        <a href=@Url.Action("StronaHome", "Home")>Powrót na stronę główną</a>
    </nav><br /><br />
    <h1 id="agat">WZÓR AGAT</h1>
    <br />
    <div class="image-container">
        <img src="~/realizacja_agat.jpg" />
        <img src="~/realizacja_AGAT2.jpg" /><br /><br />
    </div>
    <br />
    <br />
    <p>
        <b>SPECYFIKACJA AGAT</b><br /><br />

        Ogrodzenia frontowe AGAT to solidne ogrodzenie na lata, które cechuje bogate wzornictwo. Dodatkowym atutem ogrodzenia frontowego AGAT jest zabezpieczenie antykorozyjne, dzięki czemu nie wymagają one żadnych zabiegów konserwacyjnych.

        Dane techniczne:
        <ul>
            <li>Elementy poziome z profili 25x25mm</li>

            <li>Elementy poziome z profili 15x15mm</li>

            <li>System mocowania uchwyt uniwersalny</li>

            <li>Wersje przęseł proste (P) i wypukłe (W)</li><br />
            Wysokość i szerokość przygotowywana dokładnie pod wymiary klienta.
        </ul>
    </p>

</body>

</html>
