<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Specyfikacja Malachit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            margin: 0;
            background-color: peachpuff;
            font-family: 'Arial', sans-serif;
        }

        h1 {
            text-align: center;
            text-shadow: 8px 5px 9px rgba(0, 0, 0, 0.5);
            font-size: 100px;
        }

        .image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;
        }

            .image-container img {
                max-width: 100%;
                height: auto;
                border-radius: 20px;
                box-shadow: 8px 5px 9px rgba(0, 0, 0, 0.5);
                margin: 30px;
                object-fit: contain;
            }

        p {
            font-size: 2em;
            text-align: justify;
        }

        ul {
            margin-left: 20px;
            font-size: 2em;
        }

        img[src$=".jpg"] {
            width: 100%;
            height: auto;
            border-radius: 20px;
            box-shadow: 0 10px 100px rgba(255, 218, 185, 0.1);
        }
    </style>
</head>

<body>
    <nav>
        <a href=@Url.Action("StronaHome", "Home")>Powrót na stronę główną</a>
    </nav>
    <br />
    <br />
    <h1 id="agat">WZÓR MALACHIT</h1>
    <br />
    <div class="image-container">
        <img src="~/realizacja_MALACHIT1.jpg" />
        <img src="~/realizacja_MALACHIT2.jpg" /><br /><br />
    </div>
    <br />
    <br />
    <p>
        <b>SPECYFIKACJA MALACHIT 100/P-20</b><br /><br />

        Model nowoczesnego poziomego ogrodzenia cechujący się minimalizmem z zachowaniem klasycznej konwencji. Wzór ten został stworzony na potrzeby Klientów, którzy cenią sobie niewielki stopień przezierności, gwarantujący poczucie prywatnością zarazem nadaje posesji nową jakość.
        Ogrodzenia frontowe MALACHIT 100/P-20 to solidne ogrodzenie na lata, które cechuje bogate wzornictwo. Dodatkowym atutem ogrodzenia frontowego MALACHIT 100/P-20 jest zabezpieczenie antykorozyjne, dzięki czemu nie wymagają one żadnych zabiegów konserwacyjnych.
        <br /><br />
        Dane techniczne:
        <ul>
            <li>Elementy poziome z profili 100X20</li>
            <li>System mocowania uchwyt uniwersalny</li>

            <br />
            Wysokość i szerokość przygotowywana dokładnie pod wymiary klienta.
        </ul>
    </p>

</body>

</html>
